{% extends 'base.html' %}

{% block title %} iLearn about {% endblock title %}

{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}

<div class="container my-4">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <h1 class="featurette-heading">About iLearn <span class="text-muted"></span></h1>
            <br>
            <p class="lead" style="font-family: 'Caveat', cursive; font-size:15px">⭐iLearn is a blog, where you can post
                or contribute any idea to the open world.</p>
            <p class="lead" style="font-family: 'Caveat', cursive; font-size:15px">⭐ All your write ups must be well
                justified and no necessary to be highly professional</p>
            <p class="lead" style="font-family: 'Caveat', cursive; font-size:15px">⭐ This is a blog for beginners, where
                anyone can post your idea, opinion, feelings to the world.</p>
                <p class="lead" style="font-family: 'Caveat', cursive; font-size:15px">⭐ Other People can also review, judge your opinion in the comment section.</p>    
        </div>
        <div class="col-md-5">
            <img src="/static/iLearn.jpg" alt="img" class="bd-placeholder-img"  style="border:2px solid black;
        border-radius: 26px;">
        </div>
    </div>
</div>
<br>
<br>
<div class="container my-4">
<div class="row featurette d-flex justify-content-center align-items-center">
    <div class="col-md-7">
      <h1 class="featurette-heading">About Developer </h1>
      <br>
      <h3 style="color: blue;">Sayon Islam</h3>
      <br>
      <p class="lead" style="font-family: 'Caveat', cursive; font-size:17px; font-weight:bold;" >Mobile : 9330048442</p>
      <p class="lead" style="font-family: 'Caveat', cursive; font-size:17px; font-weight:bold;">Email : sayonislam.2000@gmail.com</p>
      <p class="lead" style="font-family: 'Caveat', cursive; font-size:17px; font-weight:bold;">Engineering student, Full stack Developer</p>
      <p class="lead" style="font-family: 'Caveat', cursive; font-size:17px; font-weight:bold;">Contact me, and also follow me on social media.</p>
    </div>
    <div class="col-md-5">
      <img src="/static/mine1.png" alt="img" class="bd-placeholder-img" width='280' height="280" style="border:2px solid white;
      border-radius: 26px;">

    </div>
  </div>
</div>
<div class="container">
<a type="button" class="btn btn-primary btn-sm mr-2 float-left" href="/">
    Back
  </a>
</div>
  <br>
  <br>
{% endblock body %}