{% extends 'base.html' %}

{% block title  %} iLearn Post {% endblock title %}
{% block contactactive %} active {% endblock contactactive %}

{% block body %}
<div class="container my-3">
<h3>Contact Me</h3>
<br>
<form action="/contact" method="POST">
    {% csrf_token %}
    <div class="mb-3">
    <label for="name" class="form-label" style="font-weight:bold ;">Name</label>
    <input type="text" class="form-control" id="name" name="name" aria-describedby="name" placeholder="Enter Your Full Name">
    <div id="name" class="form-text" ></div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label" style="font-weight:bold ;">Email address</label>
    <input type="email" class="form-control" id="email" name ="email" aria-describedby="emailHelp" placeholder="Enter Your Mail id">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="roll" class="form-label" style="font-weight:bold ;">Mobile Number</label>
    <input type="roll" class="form-control" id="roll" name="roll" placeholder="Enter Your Mobile Number (Optional)">
  </div>
  <div class="mb-3">
    <label for="content" class="form-label" style="font-weight:bold ;">Your Opinion/ Idea/ Thoughts/ Message</label>
    <textarea class="form-control"name="content" id="content" cols="30" rows="3"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
  <a type="button" class="btn btn-primary btn-sm mr-2 float-right" href="/">
    Back
  </a>
</form>
</div>
{% endblock body %}