{% extends 'base.html' %}

{% block title  %} iLearn blog {% endblock title %}

{% block blogactive %} active {% endblock blogactive %}

{% block body %}
<div class="container">
<br>
<h2> iLearn Featuring Posts  </h2>
{% for post in allPosts %}



<br>
<div class="row no-gutters border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"> Submited by - {{post.author}}</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-muted">{{posty.datetime}}</div>
          <p class="card-text mb-auto">{{post.content | truncatechars_html:500}}</p>
          <br>
          <div>
          <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
          </div>
        </div>
      </div>
    {% endfor %}  
    <a type="button" class="btn btn-primary btn-sm mr-2 float-right" href="/">
    Back
  </a>
  <br>
  <br>
</div>
<br>
<br>

{% endblock body %}
